SUPABASE_URL="https://vsqktohbiotxomeocgzq.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzcWt0b2hiaW90eG9tZW9jZ3pxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDI3OTY5OSwiZXhwIjoyMTA1ODU1Njk5fQ.n_t-hREmSPz1hezpAPN4rS62_o-6ZXHZIsevD7Wn2cs"
