SUPABASE_URL="https://vsqktohbiotxomeocgzq.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzcWt0b2hiaW90eG9tZW9jZ3pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyNzk2OTksImV4cCI6MjEwNTg1NTY5OX0.nvH_6GsoknWP16A_BUoqlLGMfGBdS6l78SzETMZkMn0"
